.DS_Store
.vscode
composer.lock
vendor/
__ rise scripts images/Screenshot 2025-07-08 at 15.56.07.png
__ rise scripts images/Screenshot 2025-07-08 at 15.56.24.png
__ rise scripts images/Screenshot 2025-07-08 at 15.56.33.png
__ rise scripts images/Screenshot 2025-07-08 at 15.56.36.png
__ rise scripts images/Screenshot 2025-07-08 at 15.56.42.png
__ rise scripts images/Screenshot 2025-07-08 at 15.59.19.png
__ rise scripts images/Screenshot 2025-07-08 at 15.59.23.png
__ rise scripts images/Screenshot 2025-07-08 at 15.59.26.png
__ rise scripts images/Screenshot 2025-07-08 at 15.59.29.png
