.tippy-tooltip.rise-theme{background-color:var(--color-theme-tint);background-clip:padding-box;border:1px solid var(--color-theme);color:var(--color-theme-contrast);box-shadow:0 3px 14px -.5px var(--color-theme-transparent)}
.tippy-tooltip.rise-theme .tippy-backdrop{background-color:var(--color-theme-tint)}
.tippy-tooltip.rise-theme .tippy-arrow:after,
.tippy-tooltip.rise-theme .tippy-arrow:before,
.tippy-tooltip.rise-theme .tippy-roundarrow:after,
.tippy-tooltip.rise-theme .tippy-roundarrow:before{content:"";position:absolute;z-index:-1}
.tippy-tooltip.rise-theme .tippy-roundarrow{fill:var(--color-theme-tint)}
.tippy-tooltip.rise-theme .tippy-roundarrow:after{background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNDE0IiB2aWV3Qm94PSIwIDAgMTggNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA3czIuMDIxLS4wMTUgNS4yNTMtNC4yMThDNi41ODQgMS4wNTEgNy43OTcuMDA3IDkgMGMxLjIwMy0uMDA3IDIuNDE2IDEuMDM1IDMuNzYxIDIuNzgyQzE2LjAxMiA3LjAwNSAxOCA3IDE4IDd6IiBmaWxsPSIjMzMzIiBmaWxsLW9wYWNpdHk9Ii4yMzUiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);background-size:18px 7px;width:18px;height:7px;left:0;top:0;fill:var(--color-theme)}
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-roundarrow:after{top:1px;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow{border-top-color:var(--color-theme-tint)}
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow:after{border-top:7px solid var(--color-theme-tint);top:-7px}
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow:before{border-top:7px solid var(--color-theme);bottom:-1px}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-roundarrow:after{top:-1px}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow{border-bottom-color:var(--color-theme-tint)}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow:after{border-bottom:7px solid var(--color-theme-tint);bottom:-7px}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow:before{border-bottom:7px solid var(--color-theme);bottom:-6px}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-roundarrow:after{left:1px;top:0;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow{border-left-color:var(--color-theme-tint)}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow:after{border-left:7px solid var(--color-theme-tint);left:-7px}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow:before{border-left:7px solid var(--color-theme);left:-6px}
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-roundarrow:after{left:-1px;top:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow{border-right-color:var(--color-theme-tint)}
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow:after{border-right:7px solid var(--color-theme-tint);right:-7px}
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow:before{border-right:7px solid var(--color-theme);right:-6px}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow,
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-roundarrow,
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow,
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-roundarrow{-webkit-transform:translateX(-1px);transform:translateX(-1px)}
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow:after,
.tippy-tooltip.rise-theme[x-placement^=bottom] .tippy-arrow:before,
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow:after,
.tippy-tooltip.rise-theme[x-placement^=top] .tippy-arrow:before{left:-7px;border-left:7px solid transparent;border-right:7px solid transparent}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow,
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-roundarrow,
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow,
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-roundarrow{-webkit-transform:translateY(-1px);transform:translateY(-1px)}
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow:after,
.tippy-tooltip.rise-theme[x-placement^=left] .tippy-arrow:before,
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow:after,
.tippy-tooltip.rise-theme[x-placement^=right] .tippy-arrow:before{top:-7px;border-top:7px solid transparent;border-bottom:7px solid transparent}