<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page_title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/app.css"></link>
  {{styles}}
</head>
<body class="home">
  <header>
    <h1>rise.frumbert.org</h1>
    <nav>{{navbar}}</nav>
  </header>
  <main>{{article}}</main>
  <footer>{{footer}}</footer>
  <script type="module" src="/assets/app.js"></script>
  {{scripts}}
</body>
</html>