<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page_title}} - rise.frumbert.org</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/app.css"></link>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥔</text></svg>">
  {{styles}}
</head>
<body class="token">
  <header>
    <h1>{{page_title}}</h1>
    <h2>rise.frumbert.org</h2>
  </header>
  <nav>{{navbar}}</nav>
  <article>{{article}}</article>
  <footer>{{footer}}</footer>
  <script type="module" src="/assets/app.js"></script>
  <script src="/assets/scorm12server.js"></script>
  {{scripts}}
</body>
</html>